<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="stylesheet" href="/css/addpost.css">
</head>
<body>
  <nav class="nav">
    <div class="nav_container">
      <div class="nav_visitor">
        <h1 class="nav_title"><a href="/home">Richbox's Blog</a></h1>
        <div class="nav_links">
          <a class="nav_link" href="allpost">文章列表</a>
          <a class="nav_link" href="#">分類專區</a>
          <a class="nav_link" href="#">關於我</a>
        </div>
      </div>
      <div class="nav_admin">
        <% if (!user) { %>
        <a href="/login">登入</a>
        <% } else {%>
        <div class="display_user">hello <%= user %>!</div>
        <a href="/manage">管理後台</a>
        <% }%>
      </div>
    </div>
  </nav>
  <main>
    <div class="messages"><%= messages %></div>
    <form class="newpost_form" action="/update/<%= results.id %>" method="POST">
      <div class="mb-3">
        <label class="form-label">文章標題</label>
        <input type="text" class="form-control" placeholder="標題" name="title" value=<%= results.title %>>
      </div>
      <div class="mb-3">
        <label class="form-label">文章內容</label>
        <textarea class="form-control" rows="3" name="content"><%= results.content %></textarea>
      </div>
      <div class="btn_container">
        <input type="submit" name="submit" class="form_btn">
      </div>
    </form>
  </main>
  <footer class="footer">
    Copyright © 2020 Richbox's Blog All Rights Reserved.
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>